/CamProject/env/
/.idea/
CamProject/xml_photos/All_Bukva_Black0.xml
CamProject/xml_photos/All_Bukva_Blue0.xml
CamProject/xml_photos/All_Bukva_Green0.xml
CamProject/xml_photos/All_Bukva_Red0.xml
CamProject/xml_photos/Bukva_Black0.xml
CamProject/xml_photos/Bukva_Black1.xml
CamProject/xml_photos/Bukva_Blue0.xml
CamProject/xml_photos/Bukva_Blue1.xml
CamProject/xml_photos/Bukva_Blue10.xml
CamProject/xml_photos/Bukva_Blue2.xml
CamProject/xml_photos/Bukva_Blue3.xml
CamProject/xml_photos/Bukva_Blue4.xml
CamProject/xml_photos/Bukva_Blue5.xml
CamProject/xml_photos/Bukva_Blue6.xml
CamProject/xml_photos/Bukva_Blue7.xml
CamProject/xml_photos/Bukva_Blue8.xml
CamProject/xml_photos/Bukva_Blue9.xml
CamProject/xml_photos/Bukva_Green0.xml
CamProject/xml_photos/Bukva_Green1.xml
CamProject/xml_photos/Bukva_Green2.xml
CamProject/xml_photos/Bukva_Green3.xml
CamProject/xml_photos/Bukva_Green4.xml
CamProject/xml_photos/Bukva_Green5.xml
CamProject/xml_photos/Bukva_Green6.xml
CamProject/xml_photos/Bukva_Green7.xml
CamProject/xml_photos/Bukva_Green8.xml
CamProject/xml_photos/Bukva_Green9.xml
CamProject/xml_photos/Bukva_Red0.xml
CamProject/xml_photos/Bukva_Red1.xml
CamProject/xml_photos/Bukva_Red10.xml
CamProject/xml_photos/Bukva_Red11.xml
CamProject/xml_photos/Bukva_Red2.xml
CamProject/xml_photos/Bukva_Red3.xml
CamProject/xml_photos/Bukva_Red4.xml
CamProject/xml_photos/Bukva_Red5.xml
CamProject/xml_photos/Bukva_Red6.xml
CamProject/xml_photos/Bukva_Red7.xml
CamProject/xml_photos/Bukva_Red8.xml
CamProject/xml_photos/Bukva_Red9.xml
CamProject/xml_photos/Cubick1111_0.xml
CamProject/xml_photos/Cubick1111_1.xml
CamProject/xml_photos/Cubick1_0.xml
CamProject/xml_photos/Cubick1_1.xml
CamProject/xml_photos/Cubick1_2.xml
CamProject/xml_photos/Cubick1_3.xml
CamProject/xml_photos/Cubick1_4.xml
CamProject/xml_photos/Cubick1_5.xml
CamProject/xml_photos/Cubick1_6.xml
CamProject/xml_photos/Cubick2_0.xml
CamProject/xml_photos/Cubick2_1.xml
CamProject/xml_photos/Cubick2_2.xml
CamProject/xml_photos/Cubick2_3.xml
CamProject/xml_photos/Cubick2_4.xml
CamProject/xml_photos/Cubick2_5.xml
CamProject/xml_photos/Cubick2_6.xml
CamProject/xml_photos/Cubick3_0.xml
CamProject/xml_photos/Cubick3_1.xml
CamProject/xml_photos/Cubick3_2.xml
CamProject/xml_photos/Cubick3_3.xml
CamProject/xml_photos/Cubick3_4.xml
CamProject/xml_photos/Cubick3_5.xml
CamProject/xml_photos/Cubick3_6.xml
CamProject/xml_photos/Cubick4_0.xml
CamProject/xml_photos/Cubick4_1.xml
CamProject/xml_photos/Cubick4_2.xml
CamProject/xml_photos/Cubick4_3.xml
CamProject/xml_photos/Cubick4_4.xml
CamProject/xml_photos/Cubick4_5.xml
CamProject/xml_photos/Cubick4_6.xml
CamProject/xml_photos/Cubick4_7.xml
CamProject/xml_photos/Cubick5678_0.xml
CamProject/xml_photos/Cubick_test2_0.xml
CamProject/xml_photos/Cubick_test2_1.xml
